@define-color surface-strongest #1d2021;
@define-color surface-strong #282828;
@define-color surface-moderate #32302f;
@define-color surface-weak #3c3836;
@define-color surface-weakest #504945;

@define-color white-strongest #fbf1c7;
@define-color white-strong #fbf1c7;
@define-color white-moderate #ebdbb2;
@define-color white-weak #ebdbb2;
@define-color white-weakest #d5c4a1;

@define-color black-strongest rgb(0, 0, 0);
@define-color black-strong rgba(0, 0, 0, 0.87);
@define-color black-moderate rgba(0, 0, 0, 0.42);
@define-color black-weak rgba(0, 0, 0, 0.15);
@define-color black-weakest rgba(0, 0, 0, 0.06);

@define-color red-tint rgba(218, 88, 88, 0.6);
@define-color red-normal #cc241d;
@define-color red-light #fb4934;
@define-color orange-tint rgba(237, 148, 84, 0.6);
@define-color orange-normal #d65d03;
@define-color orange-light #fe8019;
@define-color yellow-normal #d79921;
@define-color yellow-light #fabd2f;
@define-color green-tint rgba(63, 198, 97, 0.6);
@define-color green-normal #98971a;
@define-color green-light #b8bb26;
@define-color cyan-normal #689d6a;
@define-color cyan-light #8ec07c;
@define-color blue-normal #458588;
@define-color blue-light #83a598;
@define-color purple-normal #b16286;
@define-color purple-light #d3869b;
@define-color pink-normal rgb(213, 108, 195);
@define-color pink-light rgb(223, 129, 207);

@define-color accent_color @purple-light;
@define-color accent_bg_color @purple-normal;
@define-color accent_fg_color @white-strong;

@define-color destructive_color @red-light;
@define-color destructive_bg_color @red-tint;
@define-color destructive_fg_color @white-strong;

@define-color success_color @green-light;
@define-color success_bg_color @green-tint;
@define-color success_fg_color @white-strong;

@define-color warning_color @orange-light;
@define-color warning_bg_color @orange-tint;
@define-color warning_fg_color @white-strong;

@define-color error_color @red-light;
@define-color error_bg_color @red-tint;
@define-color error_fg_color @white-strong;

@define-color window_bg_color @surface-strong;
@define-color window_fg_color @white-strong;

@define-color view_bg_color @surface-strong;
@define-color view_fg_color @white-strong;

@define-color headerbar_bg_color @surface-strongest;
@define-color headerbar_fg_color @white-strong;
@define-color headerbar_border_color @surface-moderate;
@define-color headerbar_backdrop_color @surface-strongest;
@define-color headerbar_shade_color transparent;

@define-color card_bg_color @white-weakest;
@define-color card_fg_color @white-strong;
@define-color card_shade_color @white-weak;

@define-color dialog_bg_color @surface-weak;
@define-color dialog_fg_color @white-strong;

@define-color popover_bg_color @surface-weakest;
@define-color popover_fg_color @white-strong;

@define-color shade_color @black-strongest;
@define-color scrollbar_outline_color @white-weakest;

@define-color borders transparent;

@define-color sidebar_bg_color @surface-strongest;
@define-color sidebar_fg_color @white-strong;
@define-color sidebar_backdrop_color @surface-strongest;
@define-color sidebar_shade_color @surface-strongest;


/*
window contents {
    background: @surface-strongest;
    box-shadow: none;
}
*/

popover contents, popover arrow {
	background: @surface-weakest;
}

.solid-csd {
	padding: 0;
}

headerbar {
    padding: 0.3em;
    padding-top: calc(0.3em + 3px);
}


